.page3{
  position: absolute;
  overflow: hidden;
  background-color: #ECE2CD;
}
.container{
  position:absolute;
  vertical-align: center;
  overflow: auto;
  max-height: 100%;
  margin-top: 6%;
  margin-left: 15%;
  padding-right: 10%;
}

.header_blog{
  position: absolute;
  z-index: 200;
  /*overflow: hidden;*/
  top: 0px;
  left : 0px;
  background-color: #565657;
  width:285%;
  height: 13%;
  z-index: 20;
  /*text-align: center;*/
  -webkit-backface-visibility: hidden; 
  -webkit-transform: translateZ(0);
}

.header_blog p {
    position: absolute; 
    left:550px;
    top:1%;
    left: 16%;
    color: #ffffff;
    z-index: 3;
    text-shadow: 1px 3px 10px #000000;
    font: 60px 'LeagueGothicRegular';
    text-align: center;
}

.header2_blog{
  position: absolute;
  z-index: 19;
  /*overflow: hidden;*/
  background-color: #D35B3E;
  width:285%; 
  height:14.5%;
  -webkit-backface-visibility: hidden; 
  -webkit-transform: translateZ(0);
}

.hmblog {
  position: relative;
  cursor: pointer;
  top: 30px;
  left: 1060px;
}

.headerhmblog{
    text-shadow: 0px 1px 1px #000000;
    color: #ffffff; 
}