html{
	height:100%;
}

.wrapper{
	height:100% !important;
	height:100%;
	margin:0 auto;
	overflow:hidden;
}
a{
	text-decoration:none;
}
.main{
	float:left;
	width: 100%;
	margin:0 auto;
	height:100%;
}
code{
	margin:20px 1%;
	float:left;
	width:48%;
	height:105px;
	background: rgba(0,0,0,1);
	border:rgba(0,0,0,0.5);
	border-radius: 5px;
	padding:5px;
	color:white;
	text-align:center;
	font-size: 15px;
	margin-top: 25px;
	display:block;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
code.html{
	color:#7ec9e6;
}
code.js{
	color:#ffad00;
}
header{
	position:relative;
	z-index:10;
}
.main section .page_container{
	position: relative;
	margin:0 auto 0;
	z-index: 3;
}
.main section{
	overflow:hidden;
}
.main section page1{
	background-image:url(image12.jpg);
	-webkit-background-size : cover;
	-moz-background-size : cover;
	-o-background-size : cover;
	background-size : cover;
}
.main section page1 h1{
	text-align: left;
	padding:0;
	margin-bottom: 15px;
	font-size: 56px;
	color:black;
}
.main section page1 h2{
	color: rgba(0,0,0,0.85);
	text-align: center;
	width:435px;
	line-height: 160%;
}
.main section page3 {
	background: rgba()
}
body.disabled-onepage-scroll .onepage-wrapper section{
	min-height: 100%;
	height:auto;
}
body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container{
	padding:20px;
	margin-top: 150px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body.disabled-onepage-scroll section .page_container h1{
	text-align: center;
	font-size: 50px;
}
body.disabled-onepage-scroll section .page_container h2{
	text-align: center;
	width:100%;
}
body.disabled-onepage-scroll code {
    width: 95%;
    margin: 0 auto 25px;
    float: none;
    overflow: hidden;
}
body.disabled-onepage-scroll .main section.page3 .page_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}

