body{
	overflow:hidden;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/league_gothic-webfont.eot');
    src: url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/league_gothic-webfont.eot?iefix') format('eot'),
         url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/league_gothic-webfont.woff') format('woff'),
         url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/league_gothic-webfont.ttf') format('truetype'),
         url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/league_gothic-webfont.svg#webfontIQSKTUY8') format('svg');
    font-weight: normal;
    font-style: normal;
}

.page2{
		position: relative;
		overflow-x: auto;
		overflow-y: hidden;
}
.img1{
	position: relative;	
	border: 5px solid white;
	width: 600px;
	height:400px;
}
.post{
	position: absolute;
}
.post .caption p { font-size: 3em; margin: 0 0 15px 0; }

.page2wrapper{
	position:absolute;
}

.header_projects{
	position: absolute;
	z-index: 200;
	/*overflow: hidden;*/
	top: 0px;
	left : 0px;
	background-color: #565657;
	width:285%;
	height: 12%;
	/*text-align: center;*/
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
}

.header_projects p {
		position: fixed;	
		left:15%;
		top:1%;
		color: #ffffff;
		z-index: 3;
		text-shadow: 0px 1px 1px #ffffff;
		color: #000000;
		font: 60px 'LeagueGothicRegular';
		text-align: center;
}

.hm {
	position: relative;
	cursor: pointer;
	top: 30px;
	left: 1060px;
}

.headerhm{
		color: #EBFA64;
		text-shadow: 0px 1px 1px #EBFA64;
		color: #000000;	
}

.header2_projects{
	position: absolute;
	z-index:10;
	/*overflow: hidden;*/
	background-color: #EBFA64;
	width:285%;	
	height:12.5%;
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
}

.header_blog{
	position: absolute;
	z-index: 200;
	/*overflow: hidden;*/
	top: 0px;
	left : 0px;
	background-color: #565657;
	width:285%;
	height: 12%;
	/*text-align: center;*/
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
}

.header_blog p {
		position: absolute;	
		left:550px;
		top:1%;
		color: #ffffff;
		z-index: 3;
		text-shadow: 0px 1px 1px #ffffff;
		color: #000000;
		font: 60px 'LeagueGothicRegular';
		text-align: center;
}

.hm {
	position: relative;
	cursor: pointer;
	top: 30px;
	left: 1060px;
}

.headerhm{
		color: #EBFA64;
		text-shadow: 0px 1px 1px #EBFA64;
		color: #000000;	
}

.header2_blog{
	position: absolute;
	z-index:10;
	/*overflow: hidden;*/
	background-color: #EBFA64;
	width:285%;	
	height:12.5%;
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
}


#page-wrap{
	position: relative;
	top: 0px;
}

#page-wrap .post img {
	left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

#page-wrap .post .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
	opacity: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	left: 0;
}

#page-wrap .post .simple-caption {
	height: 100px;
	width: 610px;
	display: block;
	bottom: -98px;
	line-height: 60pt;
	text-align: center;
}

#page-wrap .post:hover .simple-caption {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 1;
	transform: translateY(-100%);
}
tr { 
	vertical-align: top;
}

/*
	STRUCTURE
*/

#title {
	position: absolute;
	margin-top: 1px;
	padding-left: 30px;
	max-width: 430px;
	word-wrap:break-word;
}
.arr2{
	position: relative;
	margin-top: 17px;
	margin-left: 530px;
	font-size: 50px;
}
.horiz{
	position: absolute;
	margin-left: 490px;
}
.post { 
	position: relative;
	width: 610px; 
	margin: 0px;
	float: left;
}
#home:target ~ #post .caption #firstpro,
#portfolio:target ~ #post .caption #secpro,
#about:target ~ #post .caption #thirpro,
#contact:target ~ #post .caption #fourpro{
	background: #000;
	color: #fff;
}

#project1demo:target ~ .page2 #firstpro #link-project1,{
	background: #000;
	color: #fff;
}

.panel1{
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2000;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.panel1:target{
	margin-left: 0%;
	background-color:rgba(224,238,238);
}

.panel2{
	min-width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: -150%;
	position: absolute;
	background: #000;
	box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
	z-index: 2001;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.panel2:target{
	margin-top: 0%;
	background-color: #ffcb00;
}

.content{
	right: 40px;
	left: 280px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}
.content h2{
	font-size: 110px;
	padding: 10px 0px 20px 0px;
	margin-top: 52px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: black;
	padding: 10px;
	margin: 3px 0px;
}

/* github link and direct download css */

nav 
{
	position: absolute;
	z-index: 999;
	left: 10px;
	width: 4em;
	top: 10%;
	height: 90%;
	padding: 0px;
	max-height:400px;
    min-height:200px;
}

nav  .link{
	display: block;
	height: 30%;
	text-align: center;
	color: #707070;
	font-size: 2.20em;
	line-height: 2.5em;
	text-decoration: none;
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}

nav  .link:hover { color: #FEFEFE; }

nav  a:last-child { border-bottom: 0px; }

.link label
{
	position: absolute;
	z-index: 999;
	left: 50px;
	color: #FFFFFF;
	font-family:"open sans";
  font-weight:500;
  font-size:20px;
	white-space: nowrap;
	margin-top: 10px;
	padding: 0px 10px 0px 10px;
	line-height: 3.5em;
	opacity: 0;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

 .link span:hover ~ label
{
	opacity: 1;
	left: 80px;
}


.titlelink{
	position: absolute;
	z-index: 999;
	left: 10px;
	width: 4em;
	top: 10%;
	height: 90%;
	padding: 0px;
	display: block;
	height: 30%;
	text-align: center;
	color: #707070;
	font-size: 2.20em;
	line-height: 2.5em;
	text-decoration: none;
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}

.titlelink:hover { color: #FEFEFE; }

.titlelink label
{
	position: absolute;
	z-index: 999;
	left: 50px;
	color: #000000;
	font-family:"open sans";
    font-weight:500;
    font-size:20px;
	white-space: nowrap;
	margin-top: 10px;
	padding: 0px 10px 0px 10px;
	line-height: 3.5em;
	opacity: 0;
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

 .titlelink span:hover ~ label
{
	opacity: 1;
	left: 80px;
	top:300px;
}

::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}
