.page3{
  position: absolute;
  overflow: hidden;
}
.container{
  position:absolute;
  vertical-align: center;
  overflow: auto;
  max-height: 100%;
  margin-top: 6%;
  margin-left: 15%;
  padding-right: 10%;
}
.header_blog{
  z-index: 20;
}
.header2_blog{
  z-index: 19;
}