.portal{
  background: #ffffff;
  }



.header_portal{
  position: absolute;
  z-index: 200;
  /*overflow: hidden;*/
  top: 0px;
  left : 0px;
  background-color: #565657;
  width:100%;
  height: 13%;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  /*text-align: center;*/
  -webkit-backface-visibility: hidden; 
  -webkit-transform: translateZ(0);
}

.header_portal p {
    position: absolute; 
    left:42%;
    top:1%;
    color: #ffffff;
    z-index: 300;
    text-shadow: 1px 3px 10px #000000;
    font: 60px 'LeagueGothicRegular';
    text-align: center;
}

.hm {
  position: relative;
  cursor: pointer;
  top: 30px;
  left: 1060px;
}

.headerhm{
    color: #EBFA64;
    text-shadow: 0px 1px 1px #000000;
    color: #ffffff; 
}

.header2_portal{
  position: absolute;
  z-index:10;
  /*overflow: hidden;*/
  background-color: #F77220;
  top: 0px;
  width:295%; 
  height:14.5%;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
  -webkit-backface-visibility: hidden; 
  -webkit-transform: translateZ(0);
}


.flex-container {
  position: absolute;
  top:14.5%;
  overflow: auto;
  max-height: 90%;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 0px;
  margin: 10px;
  
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 10px;
  
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border: 3px solid #000;
  box-shadow: inset 0 0 10px #000000;
  -webkit-transition: box-shadow 5s ease-in-out;
  transition: box-shadow 5s ease-in-out;
}

.flex-item:hover {
  box-shadow: 0 0 20px #000000;
}