.img1{
	position: relative;	
	border: 5px solid white;
	width: 600px;
	height:400px;
}
.post{
	position: relative;
}
.post .caption p { font-size: 3em; margin: 0 0 15px 0; }

#page-wrap .post img {
	left: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
	transition: all 300ms ease-out;
}

#page-wrap .post .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
	opacity: 0;
		-webkit-transition: all 300ms ease-out;
		-moz-transition: all 300ms ease-out;
		-o-transition: all 300ms ease-out;
		-ms-transition: all 300ms ease-out;	
		transition: all 300ms ease-out;
	left: 0;
}

#page-wrap .post .simple-caption {
	height: 100px;
	width: 610px;
	display: block;
	bottom: -98px;
	line-height: 60pt;
	text-align: center;
}

#page-wrap .post:hover .simple-caption {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	opacity: 1;
	transform: translateY(-100%);
}
